            <button id="btn-login" class="btn btn-info pull-right">
                <i class="icon-user icon-white"></i> Entrar 
                <span class="caret"></span>
            </button>

            <div class="nav pull-right item-menu">
                <button id="btn-notifications" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-bell icon-white"></i> Notificaciones <span class="caret"></span>
                </button>
                <ul id="content-notification" class="dropdown-menu pull-left">
                  <li><a href="#"><i class="icon-comment"></i> Su pedido se encuentra en camino</a></li>
                  <li><a href="#"><i class="icon-comment"></i> Su pedido se encuentra en camino</a></li>
                  <li><a href="#"><i class="icon-comment"></i> Su pedido se encuentra en camino</a></li>
                  <li><a href="#"><i class="icon-comment"></i> Su pedido se encuentra en camino</a></li>
                  <li><a href="#"><i class="icon-comment"></i> Su pedido se encuentra en camino</a></li>
                  <li class="divider"></li>
                  <li><a class="info" href="#"><i class="icon-list"></i> Ver todas las Notificaciones</a></li>
                </ul>

              </div>

            <button id="btn-credit" class="btn btn-info pull-right">
                 $99.50
                <span class="caret"></span>
            </button>